type akmd, domain;
type akmd_exec, exec_type, file_type;

# The following lines have syntax error.
# permissive_or_unconfined(akmd)

init_daemon_domain(akmd)

# Violates /external/sepolicy/domin.te neverallow
# allow akmd device:chr_file { read write };
